@import "materialize";
@import "fonts";

$screen-sm-min: 640px;
$beer-blue: #1565C0;
$wine-pink: #F06292;

* {
    box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Passion One', cursive;
  // background: url('/assets/img/bg.jpg') no-repeat center center fixed;
  // background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  background-color: #f3f3f3;
}

[app] {
	width: 80%;
	margin: auto;
	text-align: center;
	padding-bottom: 5%;
	padding-top: 5%;
	max-width: 1000px;
  @media (max-width: $screen-sm-min) {
		max-width: 100%;
		width: 100%;
	}
}

h1, h2, h3, h4, h5, p, span {
	font-family: 'Passion One', cursive;
	// font-family: 'bebas_neuebold', 'Open Sans', sans-serif;
 	font-weight: 400;
 	text-transform: uppercase;
}


.container {
	.whos-round-btn {
		background-color: $beer-blue;
	}

	&.red-wine, &.white-wine, &.wine {
		input.new-round {
			&:active, &:focus {
				border-bottom: 1px solid $wine-pink !important;
				box-shadow: 0 1px 0 0 $wine-pink !important;
			}
		}

		.whos-round-btn {
			background-color: $wine-pink;
		}
	}
}

div {
	width: 100%;
	// margin-top: 30px;
}

.named-person, .people {
	width: 100%;

	h2, h3 {
		margin: auto;
	}

	h4 {
		margin-bottom: 0;
	}

	.name {
		font-size: 3.3em;
	}
}
.named-person {
	width: 100%;
	position: relative;
}

.title {
	font-size: 6rem;
  @media (max-width: $screen-sm-min) {
		font-size: 4rem;
	}
}

.people, .chosen-name, .input-field {
	position: relative;
	z-index: 5;
}

.named-person {
	h4, .chosen-name {
		position: relative;
		z-index: 5;
	}
}

.sub-title {
	font-size: 4rem;
}
.validate {
	max-width: 440px;
}
.beer-icon {
	font-family: 'Open Sans', sans-serif;
	position: absolute;
	width: 26%;
	top: -40px;
	z-index: 1;
	max-width: 170px;
	display: block;

	img {
		width: 100%;
		display: block;
	}

	&:first-child {
		left: 0;
	}

	&:last-child {
		right: 0;
	}

	&.breaker {
		font-size: 60px;
		top: -10px;
		position: relative;
		margin: auto;
		left: inherit;
		right: inherit;
	}
}

.chosen-name {
	margin-top: 40px;
	// font-size: 1.6em;
	position: relative;
	top: 13px;
}

.the-lads {
	margin-top: 0;
	display: inline-block;
	width: auto;
	margin: 0 5px;
	font-size: 3.2em;
}

.buttons {
	text-align: center;
}

.btn-wrap {
	margin-top: 20px;
	width: auto;
	// margin: auto 10px;
	display: inline-block;
  @media (max-width: $screen-sm-min) {
		width: 100%;
		margin-top: 10px;
	}
}

.name {
	text-transform: capitalize;
	display: inline-block;
}



input.new-round {
	width: 100%;
	width: 80%;
	max-width: 400px;
	outline: 0;
	font-size: 1.7em;
	&:active, &:focus {
		border-bottom: 1px solid $beer-blue !important;
		box-shadow: 0 1px 0 0 $beer-blue !important;
	}
}

.input-field {
	position: relative;
	margin-top: 0;

	input {
		font-size: 1.5em;
	}
}

.whos-round-btn {
	width: 80%;
	max-width: 200px;
	margin: auto 10px;
	position: relative;
	min-width: 180px;
	&.choose-drink-btn {
		margin-top: 10px;
	}
}